.quickShopping1 {
    border-bottom-left-radius: 12%;
    height: 20%;
    width: 15%;
    border-top-right-radius: 12%;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #ff6a00;
    margin-bottom: 3%;
}
